@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
body {
  margin: 0;
  padding: 0;
  line-height: 0;
}

/* sheared styles  */
/* Miama font  */
.miama-regular {
  font-family: "Miama", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 4.34rem;
}
/* inter fonts  */
.inter-extra-bold-italic {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-style: italic;
  color: #e6533c;
}
.inter-black {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: white;
}
.inter-semibold {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: white;
}
.inter-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: white;
}
.inter-medium {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: white;
}
.main-width {
  max-width: 80%;
  margin: 0 auto;
}
.display-flex {
  display: flex;
}
/* header part styles */
/* nav part styles */
header {
  background: rgb(17, 17, 17);
  opacity: 0.96;
}
.banner-container {
  align-items: center;
  justify-content: space-between;
}
.logo ul {
  list-style: none;
}
.logo li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
.nav-item-list {
  align-items: center;
  gap: 47px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  padding: 5px 20px 4px 5px;
}
.banner {
  padding: 30px 0px 10px 0px;
}
.banner-logo {
  margin: 0px;
  font-size: 2rem;
}
.nav-item-list-style {
  background-color: #e6533c;
  padding: 15px 20px;
  border-radius: 40px;
 
}
/* banner part styles */
.banner-header{
  justify-content: space-between;
  align-items: center;
}
.banner-box{
  color: white;
  max-width: 465px;
  height: 380px;
}
.banner-heading{
  font-size: 4.3rem;
  margin: 0px;
  line-height: 65px;
}
.shape-style{
  font-size: 6.5rem;
}
.banner-description{
  font-size: 0.89rem;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: white;
  opacity: 0.5;
  margin: 28px 0px;
}
.btn-primary{
  color: white;
  background-color: #E6533C;
  padding: 16px 40px;
  border: none;
  border-radius: 38px;
  font-size: 1rem;
}
.btn-secondary{
  color: white;
  background: transparent;
  padding: 16px 40px;
  border: 1px solid white;
  border-radius: 38px;
  font-size: 1rem;
  margin-left: 12px;
}
.banner-img-container{
  position: relative;
}
.first-cart-container{
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 16px 24px;
  height: 75px;
  width: 150px;
  line-height: 25px;
  position: absolute;
  top: 110px;
  left: 210px;
}
.first-cart-title{
  font-size: 2.2rem;
  letter-spacing: 1px;
  margin: 10px 0px;
}
.first-cart-description{
  font-size: 0.73rem;
  letter-spacing: 1px;
  opacity: 0.65;
}
.circle-icon{
  color: #E6533C;
  font-size: 40px;
}
.second-cart-container{
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 16px 24px;
  height: 75px;
  width: 150px;
  line-height: 25px;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 410px;
  right: 260px;
  bottom: 56px;
}
.second-cart-title{
  font-size: 1.35rem;
  letter-spacing: 1px;
  margin: 8px 0px;
}
.second-cart-description{
  font-size: 0.8rem;
  letter-spacing: 1px;
  opacity: 0.65;
  margin: 0px ;
}
/* responsive with mobile device */
@media screen and (max-width: 576px) {
    
}
