@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
body {
  margin: 0;
  padding: 0;
  line-height: 0;
}

/* sheared styles  */
/* Miama font  */
.miama-regular {
  font-family: "Miama", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 4.34rem;
}
/* inter fonts  */
.inter-extra-bold-italic {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-style: italic;
  color: #e6533c;
}
.inter-black {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: white;
}
.inter-semibold {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: white;
}
.inter-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: white;
}
.inter-medium {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: white;
}
.main-width {
  width: 80%;
  margin: 0 auto;
}
.display-flex {
  display: flex;
}
.habits,
.bmi {
  background-color: black;
  opacity: 0.9;
}
/* header part styles */
/* nav part styles */
header {
  background: rgb(17, 17, 17);
  opacity: 0.96;
}
.banner-container {
  align-items: center;
  justify-content: space-between;
}
.logo ul {
  list-style: none;
}
.logo li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
.nav-item-list {
  align-items: center;
  gap: 47px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  padding: 5px 20px 4px 5px;
}
.menu-bar-icon {
  display: none;
}
/* banner part styles */
.banner {
  padding: 30px 0px 10px 0px;
}
.banner-logo {
  margin: 0px;
  font-size: 2rem;
}
.nav-item-list-style {
  background-color: #e6533c;
  padding: 15px 20px;
  border-radius: 40px;
}
/* banner part styles */
.banner-header {
  justify-content: space-between;
  align-items: center;
}
.banner-box {
  color: white;
  max-width: 465px;
  height: 380px;
}
.banner-heading {
  font-size: 4.3rem;
  margin: 0px;
  line-height: 65px;
}
.shape-style {
  font-size: 6.5rem;
}
.banner-description {
  font-size: 0.89rem;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: white;
  opacity: 0.5;
  margin: 28px 0px;
}
.btn-primary {
  color: white;
  background-color: #e6533c;
  padding: 16px 40px;
  border: none;
  border-radius: 38px;
  font-size: 1rem;
}
.btn-secondary {
  color: white;
  background: transparent;
  padding: 16px 40px;
  border: 1px solid white;
  border-radius: 38px;
  font-size: 1rem;
  margin-left: 12px;
}
.banner-img-container {
  position: relative;
}
.first-cart-container {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 16px 24px;
  height: 75px;
  width: 150px;
  line-height: 25px;
  position: absolute;
  top: 110px;
  left: 210px;
}
.first-cart-title {
  font-size: 2.2rem;
  letter-spacing: 1px;
  margin: 10px 0px;
}
.first-cart-description {
  font-size: 0.73rem;
  letter-spacing: 1px;
  opacity: 0.65;
}
.circle-icon {
  color: #e6533c;
  font-size: 40px;
}
.second-cart-container {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 16px 24px;
  height: 75px;
  width: 150px;
  line-height: 25px;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 410px;
  right: 260px;
  bottom: 56px;
}
.second-cart-title {
  font-size: 1.35rem;
  letter-spacing: 1px;
  margin: 8px 0px;
}
.second-cart-description {
  font-size: 0.8rem;
  letter-spacing: 1px;
  opacity: 0.65;
  margin: 0px;
}
/* habits part styles */
.habit-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}
.habit-title {
  width: 420px;
  color: white;
  margin: 0px;
  padding: 100px 0px 14px 0px;
  font-size: 2.67rem;
  text-align: center;
}
.habit-description {
  width: 565px;
  line-height: 20px;
  text-align: center;
  font-size: 0.78rem;
  color: white;
  opacity: 0.5;
  margin: 14px 0px 54px 0px;
  line-height: 20px;
}
.habit-cart {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}
.habit-cart-container {
  width: 205px;
}
.habit-cart-image {
  border-radius: 50%;
}
.habit-cart-title {
  font-size: 1rem;
  color: white;
  margin-top: 30px;
  margin-bottom: 6px;
  line-height: 120%;
  text-align: center;
}
.habit-cart-description {
  font-size: 0.7rem;
  color: white;
  opacity: 0.5;
  line-height: 18px;
  margin: 0px;
  text-align: center;
}
/* run part styles  */
.run {
  background-color: black;
  opacity: 0.9;
  padding-bottom: 60px;
  margin: 0;
}
.run-text-container {
  width: 380px;
  padding: 35px 54px;
}
.run-container {
  justify-content: space-between;
  border-radius: 18px;
  background-color: rgb(34, 34, 34);
}
.run-title {
  font-size: 2.66rem;
  line-height: 120%;
  margin: 0px;
  width: 355px;
}
.run-description {
  font-size: 0.7rem;
  opacity: 0.5;
  line-height: 21px;
  margin: 14px 0px 30px 0px;
  width: 340px;
}
.run-container-btn {
  color: white;
  background-color: #e6533c;
  padding: 14px 65px;
  border: none;
  border-radius: 38px;
  font-size: 1rem;
}
.run-img-container {
  height: 275px;
  width: 320px;
  background: url("../images/run.png") no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 30px;
  border-radius: 18px;
}
/* bmi calculator section styles */
.bmi-container {
  background-color: black;
  opacity: 0.9;
  margin: 0;
  padding: 0;
}
.bmi-text {
  padding: 0px 0px 78px 0px;
  width: 580px;
}
.bmi-tittle {
  margin: 0px;
  line-height: 120%;
  font-size: 2.2rem;
}
.bmi-description {
  margin: 0px;
  line-height: 22px;
  margin-top: 12px;
  font-size: 0.8rem;
  opacity: 0.4;
}
/* bmi section styles */
.bmi-primary-container {
  background-color: rgb(34, 34, 34);
  margin: 0;
  padding: 0;
  gap: 150px;
}
.bmi-secondary-container {
  gap: 150px;
}
.bmi-calculator-heading {
  margin: 0px;
  padding: 47px 0px;
  font-size: 1.5rem;
  line-height: 120%;
}
table {
  width: 275px;
  height: 195px;
}
table,
th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
  font-size: 0.8rem;
}
table th {
  padding: 14px 18px;
}
table td {
  font-size: 0.7rem;
  opacity: 0.5;
  padding: 14px 18px;
}
.bmi-calculate {
  width: 100%;
  margin-bottom: 45px;
}
.bmi-calculate-title {
  font-size: 1.5rem;
  line-height: 120%;
  margin: 40px 0px 0px 0px;
}
.bmi-calculate-description {
  font-size: 0.7rem;
  line-height: 20px;
  margin: 12px 0px 30px 0px;
  opacity: 0.5;
  width: 75%;
}
.bmi-calculate-unit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
input {
  padding: 13px 20px;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 0.89rem;
}
.bmi-calculate-factor {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
}
select,
option {
  padding: 13px 20px;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 0.89rem;
}
.bmi-calculate-factor,
.bmi-calculate-sex {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: rgb(128, 127, 127);
}
.bmi-calculate-factor {
  margin-bottom: 30px;
}
.bmi-calculate-unit-btn {
  color: white;
  background-color: #e6533c;
  padding: 16px 70px;
  border: none;
  border-radius: 38px;
  font-size: 1rem;
}
/* our feature part styles */
.our-feature{
  background-color: black;
  opacity: 0.9;
  margin: 0;
  padding: 0;
}
.our-feature-text{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feature-title{
  margin: 0px;
  padding: 75px 0px 0px 0px;
  font-size: 2.5rem;
  text-align: center;
  line-height: 120%;
}
.feature-description{
  font-size: 0.8rem;
  opacity: 0.4;
  margin: 0px;
  padding: 15px 0px 50px 0px;
  text-align: center;
  width: 560px;
  line-height: 20px;
}
.gelary{
  padding-bottom: 78px;
}
.our-feature-gelary{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 18px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-bottom: 20px;
  grid-auto-flow: dense;
}
.our-feature-gelary-container{
  padding-top: 20px;
  margin-right: 20px;
}
.our-feature-gelary-container img{
  height: 260px;
  width: 100%;
  border-radius: 18px;
}
.gelary-image-heading{
  margin: 0px;
  position: relative;
  top: -38px;
  left: 22px;
  font-size: 1.1rem;
  font-weight: 120%;
}
.gelary-image-title{
  margin: 0px;
  position: relative;
  top: -20px;
  left: 22px;
  font-size: 0.7rem;
  opacity: 0.5;
}
/* contact us part styles */
.contact{
  background-color: black;
  opacity: 0.9;
  margin: 0;
  padding: 0;
}
.contact-form-container{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-form-heading{
  margin: 0px;
  font-size: 2.5rem;
  padding: 20px 0px 10px 0px;
  line-height: 120%;
  text-align: center;
}
.contact-form-description{
  font-size: 0.8rem;
  opacity: 0.5;
  margin: 0px;
  line-height: 20px;
  width: 400px;
  text-align: center;
}
.contact-us-main{
  padding: 70px 0px 30px 0px;
  justify-content: space-between;
  gap: 50px;
}
.contact-us-map iframe{
  border-radius: 10px;
}
.contact-form-title{
  font-size: 2rem;
  line-height: 120%;
  margin: 0px 0px 20px 0px;
}
.form input, textarea{
  padding: 20px 20px;
  margin: 8px 5px;
  border: none;
}
.form textarea{
  width: 410px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  opacity: 0.6;
  margin-bottom: 20px;
}
















/* responsive with mobile device */
@media screen and (max-width: 576px) {
  header,
  section {
    width: 100%;
  }
  body,
  section {
    scroll-behavior: none;
    scrollbar-width: none;
    scroll-margin: none;
  }
  /* nav and banner part responsive mobile device */
  .banner-header {
    flex-direction: column;
    margin: 0px;
  }
  .banner {
    width: 90%;
    margin: 0 auto;
    padding: 5px 0px;
  }
  .banner-container {
    justify-content: space-between;
    margin: 45px 0px;
    width: 45px;
  }
  .banner-box {
    margin: 0px;
    width: 90%;
  }
  .banner-heading {
    font-size: 2.3rem;
    width: 285px;
    margin: 0px 0px;
  }
  .banner-description {
    font-size: 0.89rem;
    margin: 24px 0px;
    width: 274px;
  }
  .button-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0px auto;
  }
  .btn-primary,
  .btn-secondary,
  .run-container-btn {
    width: 100%;
    padding: 16px 20px;
  }
  .nav-item {
    display: none;
  }
  .menu-bar-icon {
    color: rgb(255, 255, 255);
    font-size: 24px;
  }
  .main-width {
    width: 100%;
  }
  .banner-img-container img {
    width: 100%;
  }
  .banner-img-container {
    width: 80%;
  }
  .first-cart-container {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 10px 15px;
    height: 50px;
    width: 100px;
    line-height: 15px;
    position: absolute;
    top: 55px;
    left: 190px;
  }
  .first-cart-title {
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin: 10px 0px;
  }
  .first-cart-description {
    font-size: 0.51rem;
    letter-spacing: 1px;
    opacity: 0.65;
  }
  .circle-icon {
    color: #e6533c;
    font-size: 30px;
  }
  .second-cart-container {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 12px 17px;
    height: 48px;
    width: 115px;
    line-height: 15px;
    align-items: center;
    gap: 9px;
    position: absolute;
    top: 270px;
    left: 0px;
  }
  .second-cart-title {
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 8px 0px;
  }
  .second-cart-description {
    font-size: 0.5rem;
    letter-spacing: 1px;
    opacity: 0.65;
    margin: 0px;
  }
  /* habits part responsive mobile device */
  .habits,
  .habit-cart {
    display: flex;
    flex-direction: column;
  }
  .habits {
    align-items: center;
    margin: 0px;
    width: 100%;
  }
  .habit-container {
    width: 90%;
  }
  .habit-title {
    padding: 0px 0px 0px 0px;
    margin: 20px 0px;
    font-size: 2rem;
  }
  .habit-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .habit-description {
    width: 275px;
  }
  .habit-cart-description {
    font-size: 0.6rem;
    width: 80%;
    text-align: center;
  }
  /* run part responsive mobile device */
  .run {
    padding-bottom: 60px;
  }
  .run-container {
    flex-direction: column;
    justify-content: center;
  }
  .run-container {
    width: 90%;
  }
  .run-text-container {
    width: 84%;
    padding: 30px;
  }
  .run-title {
    line-height: 120%;
    margin: 0px;
    width: 100%;
  }
  .run-description {
    font-size: 0.8rem;
    opacity: 0.4;
    line-height: 21px;
    margin: 14px 0px 30px 0px;
    width: 100%;
  }
  .run-container-btn {
    color: white;
    background-color: #e6533c;
    padding: 16px;
    border: none;
    border-radius: 38px;
    font-size: 1rem;
  }
  .run-img-container {
    height: 190px;
    width: 100%;
    background: url("../images/run.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 17px;
    border-radius: 18px;
  }
  .run-image {
    width: 90%;
  }
  /* bmi section styles  */
  .bmi-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .bmi-text {
    width: 90%;
  }
  /* bmi calculator section styles  */
  .bmi-secondary-container {
    flex-direction: column;
    width: 90%;
  }
  .bmi-calculator-heading {
    margin: 0px;
    padding: 25px 0px 20px 0px;
    font-size: 1rem;
    line-height: 120%;
  }
  .bmi-calculator {
    width: 80%;
    height: 200px;
  }
  table th {
    text-align: start;
  }
  .bmi-secondary-container {
    gap: 40px;
  }
  .bmi-calculate-title {
    font-size: 1rem;
    line-height: 120%;
    margin: 0px;
  }
  .bmi-calculate-unit input {
    width: 80%;
  }
  /* our feature section styles */
  .gelary{
    width: 100%;
    margin: 0 auto;
  }
  .our-feature-container{
    width: 90%;
    margin: 0 auto;
  }
  .our-feature-text{
    width: 90%;
    margin: 0 auto;
  }
  .feature-title,
  .feature-description{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .feature-title{
    margin: 0px;
    font-size: 1.7rem;
    text-align: center;
    justify-items: center;
    line-height: 120%;
    padding: 50px 0px 0px 0px;
  }
  .feature-description{
    font-size: 0.8rem;
    opacity: 0.4;
    margin: 0px;
    padding: 15px 0px 50px 0px;
    text-align: center;
    line-height: 20px;
    width: 275px;
  }
.our-feature-gelary{
  display: flex;
  flex-direction: column-reverse;
  margin: 0px;
  margin: 0px 10px;
  width: 90%;
  height: 100%;
}
.display-none{
  display: none;
}
#trainer2{
  grid-column: -1;
  order: 1;
}





}
